$white: #FFF !default;
$black: #000 !default;
$yellow: #FFE600;
$gray-eee: #EEEEEE;
$gray-333: #333333;
$gray-999: #999999;
$gray-666: #666666;
$background: $gray-eee;
$blue: #3483FA;
$blue-hover: #1E6DFF;